<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="SingleBook.css">

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About us</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-light"> LogIn</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark">Register</button>
          </li>
          <!-- <li class="nav-item">
            <button type="button" class="btn btn-profile"></button>
          </li> -->
        
        </ul>
        
      </div>
    </div>
  </nav>
 
  <div class="Content">
    <div class="SectionTitle">
      <div class="TextSEction">Book Details</div>
      
    </div> <br><br>
   <div class="row bookSingle">
    <div class="col-6">
      <div class="imageCover"></div>
    </div>
    <div class="col-6">
      <div class="imageTextimageText">
      
        <div class="imageTextTitle">Toward the Critique of Violence</div>
        <br>
        <div class="imageTextAuthor"> <i>Walter Benjamin</i> </div>
        <br>
        <div class="imageTextCategory">Philosophy</div>
        <br>
        <div class="imageTextDescription">This is the Bulgarian language translation of the legendary text by Walter Benjamin Zur Kritik der Gewalt, published here together with 3 other texts: Walter Benjamin, Notizen zu einer Arbeit über die Kategorie der Gerechtigkeit; Gershom Scholem, Thesen über den Begriff der Gerechtigkeit; Stiliyan Yotov(the translator),Hundert Jahre Zur Kritik der Gewalt.</div>
        <br> <br>
        <a href="#" class="btn btn-primary">Add to favourites</a>

      </div>
    </div>
   </div>
    
      
      </div>
      <br>

  <div class="footer">
    <div class="textCritique">CRITIQUE and HUMANISM is an independent Bulgarian publisher specialized in contemporary
      human and social sciences.</div>
      <div class="titleCon"><b>Contacts</b></div>
      <div class="textCritique">11, Slaveykov Square
        Sofia 1000 BULGARIA
        <br>
        ph.: (++359) 895 772508
        <br>
        kx@kx-publishing.org <br>
        www.kx-publishing.org</div>


</div>
       
  


  
 





   



                     
  


            
      

   
   
   
 
            
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>