{% extends 'base.html' %}
{% load static %}
{% block page_content %}

      {# My Books - When authenticated: #}
{% if request.user.is_authenticated %}
<div class="SectionTitle">
    <div class="TextSection">My Books</div>
</div>
<br>
<!-- Card with Info for the Book -->

<div class="container mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for book in favourites %}
            <div class="col">
                <div class="card">
                    <img src="{{ book.cover_photo.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text author"><i>{{ book.author }}</i> </p>
                        <p class="card-text genre">{{ book.genre }}</p>
                        <p class="card-text">{{ book.description }}</p>
                        <a href="{% url 'favourite add' book.pk %}" class="btn btn-primary">Remove from favourites</a>
                        <a href="{% url 'book details' book.pk %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}