{% extends 'base.html' %}
{% block page_content %}

{#<div class="container mb-5">#}
    <div class="row">
        <div class="col-7">

            <form class="row g-3" method="POST" enctype="multipart/form-data">
                <div class="col-md-12">
                    <div class="register">Edit Account</div>
                </div>
                {% csrf_token %}
{#                {{ form }}#}
{#                <h1>{{ form.user }}</h1>#}
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">First Name:</label>
                {{ form.first_name }}
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Last Name:</label>
                {{ form.last_name }}
            </div>
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Email</label>
                {{ form.email }}
            </div>
            <div class="col-md-12">
              <label for="inputAddress" class="form-label">Upload Photo</label>
                {{ form.picture }}
            </div>

            <div class="col-md-12">
              <label for="inputAddress" class="form-label">Address</label>
                {{ form.address }}
            </div>

            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
                {{ form.city }}
            </div>

            <div class="col-md-6">
              <label for="inputZip" class="form-label">Zip</label>
                {{ form.zip }}
            </div>
            <div class="col--md-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
{#            <button class="btn btn-primary" type="submit">Save</button>#}
            </form>
        </div>
        <div class="col-4">
            <div class="imageBack"></div>
        </div>
    </div>
{#</div>#}

{% endblock %}