{% extends 'base.html' %}
{% block page_content %}

<div class="Content">

    <div class="SectionTitle">
        <div class="TextSection">Profile Details</div>
    </div> <br><br>

    <div class="row profileDetails">
        <img class="col-3" src="{{ profile.picture.url}}" alt="description">
        <div class="col-6 ProfileInfo">
            <div class="nameUser">
                <div class="profName"> <b>{{ profile.first_name }} {{ profile.last_name }}</b></div>
            </div>
        <br>
        <div class="profEmail">{{ profile.email }}</div>
        <br>
        <div class="adressUser">
            <div class="profAdress">{{ profile.address }}</div>
            <div class="profZip">{{ profile.zip }}</div>
        </div>

        <br>
        <a href="{% url 'change password' %}" class="btn btn-primary">Change Password</a>
        <a href="{% url 'profile edit' profile.user_id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'profile delete' profile.user_id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

{% endblock %}
