{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<div class="SectionTitle">
    <div class="TextSection">Books</div>
</div>

<h1 class='text-center'>
    {% if not books %}
        No books yet
    {% endif %}
</h1>

<br>
<a href="{% url 'create book' %}" class="btn btn-primary">Add</a>
<br>
    <!-- Card with Info for the Book -->

    <div class="container mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for book in books %}
                <div class="col">
                    <div class="card">
                        <img src="{{ book.cover_photo.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text author"><i>{{ book.author }}</i> </p>
                            <p class="card-text genre">{{ book.genre }}</p>
                            <p class="card-text">{{ book.description }}</p>
                            {% if request.user in book.favourites.filter %}
                                <a href="{% url 'favourite add' book.pk %}" class="btn btn-primary">Remove from favourites</a>
                            {% else %}
                                <a href="{% url 'favourite add' book.pk %}" class="btn btn-primary">Add to favourites</a>
                            {% endif %}
                            <a href="{% url 'book details' book.pk %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

        <!-- End Card -->
{% endblock %}
