{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Banner</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/form_reg.css' %}">
        <link rel="stylesheet" href="{% static 'css/single_book.css' %}">
        <link rel="stylesheet" href="{% static 'css/single_book_edit.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile_page' %}">


    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about us' %}">About us</a>
                </li>

                {% if request.user.is_authenticated %}

                    <li class="nav-item">
                        <a href="{% url 'logout user' %}" class="btn btn-light">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#"> Hello, {{ request.user }}!</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profile details' request.user.id %}" class="btn btn-profile"></a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a href="{% url 'login_user' %}" class="btn btn-light">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="btn btn-dark">Register</a>
                    </li>

            {% endif %}

            </ul>

        </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="Content">

        {% block page_content %}
        {% endblock %}

    </div>

    <!-- Page Footer -->
    <br>
          <div class="footer">
            <div class="textCritique">CRITIQUE and HUMANISM is an independent Bulgarian publisher specialized in contemporary
              human and social sciences.</div>
              <div class="titleCon"><b>Contacts</b></div>
              <div class="textCritique">11, Slaveykov Square
                Sofia 1000 BULGARIA
                <br>
                ph.: (++359) 895 772508
                <br>
                kx@kx-publishing.org <br>
                www.kx-publishing.org</div>
          </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>